<div class="account">

  <%= current_user.name %>

  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'%>

  </div>

  <div class = "create-patient-profile">
    <%= link_to '利用者登録', new_profile_path %>
  </div>
  <div class = "search">
    <div class="form-input">
      <input class="form-text" placeholder= "検索ワードを入力">
    </div>
  </div>
  <div class = "vault">
    <a href = "#">記録保管庫</a>
  </div>