<div class="profile">

  <div class="profile-p-upper">
    <div class="base-profile">
      <div class="title">基本情報</div>
    </div>
    <div class="patient-image">
      顔写真
    </div>
  </div>
  <div class="profile-p-lower">
    <div class="contact-list">
      <div class="title">連絡先１</div>
      <div class="contact">
        <div class="person-data">
          <div class="person">≪氏名≫</div>
          <div class="relationship">≪関係≫</div>
          <div class="address">≪住所≫</div>
        </div>
        <div class="person-tel">
          <div class="email">email:xxxx@xxx.xxx</div>
          <div class="phone">phone:000-0000-0000</div>
        </div>
      </div>
      <div class="title">連絡先２</div>
      <div class="contact">
        <div class="person-data">
          <div class="person">≪氏名≫</div>
          <div class="relationship">≪関係≫</div>
          <div class="address">≪住所≫</div>
        </div>
        <div class="person-tel">
          <div class="email">email:xxxx@xxx.xxx</div>
          <div class="phone">phone:000-0000-0000</div>
        </div>
      </div>

    </div>
    <div class="history">
      <div class="title">既往歴</div>
        出身地、転居歴、職歴、性格、家族関係などを記入。
    </div>
    <div class="disease">
      <div class="title">疾患</div>
        認知症や精神疾患、持病や怪我など現在の疾患を記入。
    </div>
    <div class="medications">
      <div class="title">服用薬</div>
        現在服用されている薬の種類を記入。
    </div>
  </div>

</div>