<div class="profile">

  <div class="profile-p-upper">
    <div class="base-profile">
      <div class="title">基本情報</div>
      氏名、生年月日、現在の年齢、性別、血液型、家族などの基本情報を表示。
    </div>
    <div class="patient-image">
      顔写真
    </div>
  </div>
  <div class="profile-p-lower">
    <div class="contact-list">
      <div class="title">連絡先１</div>
      <div class="contact">
        <div class="person-data">
          <div class="person">≪氏名≫</div>
          <div class="relationship">≪関係≫</div>
          <div class="address">≪住所≫</div>
        </div>
        <div class="person-tel">
          <div class="email">email:xxxx@xxx.xxx</div>
          <div class="phone">phone:000-0000-0000</div>
        </div>
      </div>
      <div class="title">連絡先２</div>
      <div class="contact">
        <div class="person-data">
          <div class="person">≪氏名≫</div>
          <div class="relationship">≪関係≫</div>
          <div class="address">≪住所≫</div>
        </div>
        <div class="person-tel">
          <div class="email">email:xxxx@xxx.xxx</div>
          <div class="phone">phone:000-0000-0000</div>
        </div>
      </div>

    </div>
    <div class="history">
      <div class="title">既往歴</div>
        出身地、転居歴、職歴、性格、家族関係などを表示。
    </div>
    <div class="disease">
      <div class="title">疾患</div>
        認知症や精神疾患、持病や怪我など現在の疾患を表示。
    </div>
    <div class="medications">
      <div class="title">服用薬</div>
        現在服用されている薬の種類を表示。
    </div>
    <div class="topic">
      <div class="title">
      <div class = "category-options">
      <label><input type="checkbox" name="category" value="adl">
        <a>ＡＤＬ</a>
      </label>
        <label><input type="checkbox" name="category" value="bpsd">
        <a>ＢＰＳＤ</a>
      </label>
      <label><input type="checkbox" name="category" value="qol">
        <a>ＱＯＬ</a>
      </label>
      <label><input type="checkbox" name="category" value="community">
        <a>社交</a>
      </label>
      <label><input type="checkbox" name="category" value="trouble">
        <a>トラブル</a>
      </label>
      <label><input type="checkbox" name="category" value="medical">
        <a>医療</a>
      </label>
      <label><input type="checkbox" name="category" value="rehabilitation">
        <a>リハビリ</a>
      </label>
      <label><input type="checkbox" name="category" value="other">
        <a>その他</a>
      </label>
    </div>
      </div>
      選択されたタグを含む、最新の記録５件を表示。
    </div>
  </div>

</div>