<div class="wrapper">

  <div class="header-menu">
  </div>

  <div class="patient-list">
    <%= render "patient_list" %>
  </div>

  <div class="care-record">
    <%= render "care_record" %>
  </div>

</div>