<div class="header-menu">

  <div class="account">

    <a href="#">職員名</a>

    <%# if user_signed_in? %><%# 条件分岐（ログインしている場合 %>
      <a href="#">ログアウト</a>
    <%# else %><%# //条件分岐（ログインしていない場合 %>
      <%#<a href="#">ログイン</a>
    <% end %>

  </div>

  <div class = "create-patient-profile">
    <a href = "#">利用者登録</a>
  </div>
  <div class = "vault">
    <a href = "#">記録保管庫</a>
  </div>

</div>

<div class="wrapper">

  <div class="patient-list">
    <%= render "patient_list" %>
  </div>

  <div class="care-record">
    <%= render "care_record" %>
  </div>

</div>