<div class="header-menu">
  <%= render "header_menu" %>
</div>

<div class="body">

  <div class="patient-list">
    <%= render "patient_list" %>
  </div>

  <div class="care-record">
    <%= render "care_record" %>
  </div>

  <div class="patient-profile">
    <%= render "patient_profile" %>
  </div>

</div>