/*header-menu*/
.header-menu {
  display: flex;
  align-items: center;
  background-color: #427942;
  height: 100px;
}
.header-menu a{
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;
  padding: 0 20px;
}
.search {
  display: flex;
}
/*body*/
.body {
  display: flex;
}
/*patient-list*/
.patient-list {
  display: flex;
  justify-content: center;
  background-color: #35531c;
  width: 300px;
  height: calc(100vh - 100px);
  overflow: scroll;
}
.patients {
  padding: 20px 0px;
}
.patient-name {
  padding: 20px 0px;
}
.patient-name a {
  color: #fafafa;
  text-decoration: none;
}
/*care-record*/
.care-record {
  width: calc(100vw - 300px);
}
.records {
  height: calc(100vh - 100px - 200px);
  background-color: #67b88b;
  padding: 46px 40px 0;
  overflow: scroll;
}
.record {
  margin: 10px 0 0 0;
}
.record-p-upper {

}
.record-date {
  color: #577562;
  font-size: 12px;
  padding-left: 10px;
}
.record-p-lower {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.record-text {
  color: #fafafa;
  font-size: 16px;
  margin-bottom: 40px;
}
.record-user {
  color: #fafafa;
  font-size: 14px;
}
/*record-form*/
.record-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #3c8145;
  height: 200px;
  padding: 40px;
}
.form-input {
  background-color: #fafafa;
  width: 100%;
}
.form-text {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}
.category-options a {
  color: #fafafa;
}
.form-submit {
  background-color: #8cb656;
  border: none;
  color: #fafafa;
  font-size: 16px;
  height: 20px;
  padding: 0 20px;
}
/*patient-profile*/
.patient-profile {
  width: calc(100vw - 300px - 500px);
  height: calc(100vh - 100px);
  background-color: #2f923d;
  color: #fafafa;
}
.title {
  background-color: #226129;
  text-align: center;
}
.profile-p-upper {
  display: flex;
  height: 350px;
}
.base-profile {
  width: 60%;
}
.patient-image {
  width: calc(100% - 60%);
  background-color: #1a4b20;
}
/*contact*/
.profile-p-lower {
  height: calc(100% -100px - 350px);
}
/*person-date*/
.person-data {
  display: flex;
}
.person {
  width: 30%;
}
.relationship {
  width: calc(100% - 30%);
}
.address {
  width: calc(100% - 30% - 10%);
}
/*person-tel*/
.person-tel {
  display: flex;
}
.email {
  width: 50%;
}
.phone {
  width: calc(100% - 50%);
}
/*history,disease,medications*/
